@CHARSET "UTF-8";

/*
 *      $Id$
 *
 *      (Some of the) Approved DST colors are:
 *      Background :    #e6d7aa
 *      Red:            #800000
 *      Green:          #537838
 *      Dark-Blue:      #282959
 *      Blue:           #2c4e7d
 *  Light-Purpley/Blue #5c5c9f
 *      Tan:            #dbd0a7
 *      Light-Tan:      #e0dfcb
 *      Yellow:         #ffcc00
 *      Orange:         #cc6600
 *      Others are:  #b49e4e,
 *     
 *     
 */


/*
 *      Order of this file:  First we reset (per Eric Myers), then layout and size the various div's;
 *      then comes font selection (weight, height, etc);
 *      next are the various colors and backgrounds; and, then, finally,
 *      all the miscelleneous things (like re-skins, browser specific
 *      tweaks and so forth).
 */

/* Eric Meyer's RESET CSS http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}

/* remember to define focus styles! */
:focus {
        outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
        text-decoration: none;
}
del {
        text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: collapse;
        border-spacing: 0;
}
/* End of RESET CSS */

/*
 *     LAYOUT
 */

html {
        max-width: 1000px;
        /* min-width: 765px; */
}

html,body {
        margin: 0 auto;
        padding: 0px;
        height: 100%;
}

p {
        padding-bottom: .5em;
}

sup { font-size: 50%; vertical-align: text-top; }

#logo { border-bottom: 1px solid; }

/*
 *		COLORS
 */

body,
input,
h1,
h2,
#page-bar,
#global-nav,
#global-nav a,
#global-nav ul a:hover,
#global-nav ul a:active,
#global-nav ul a.here:link,
#global-nav ul a.here:visited,
th a:link,
th a:visited,
th.sorted  { color: #003366; }

th a:hover,
th a:active,
a { color: #006699; }


#footer { color: #6699cc; }

h1,
h2,
#page-bar,
#global-nav ul,
#global-nav ul a,
#global-nav a:hover,
#global-nav a:active,
#global-nav a.here:link,
#global-nav a.here:visited,
th.sorted { background-color: #6699cc; }
#top,
#global-nav,
.even-row { background-color: #e8e8ff; }
#global-nav a { background-color: #99ccff; } 

#logo { border-bottom-color: #003366; }
h2,
th.sorted,
#page-bar { border-top-color: #003366; }
#global-nav ul { border-top-color: #fff; }
#global-nav a { border-right-color: #003366; }
#global-nav a { border-left-color: #99ccff; }
#global-nav a { border-top-color: #99ccff; }

/*
 *      FONTs
 */

body, input { font-family: helvetica, tahoma, trebuchet ms, arial, sans serif; font-size: 1.2em; }
p { line-height: 125%; }

h1 { font-size: 170%; padding: .0em 0em .0em 0em; }
	
h2 { font-size: 130%; margin-top: .5em;
	border-top: 1px solid; padding: .25em .125em .25em .125em; }

.page-bar-right { float: right; font-size: 80%; display: inline; }
#page-bar { margin-top: .5em; border-top: 1px solid; padding: .25em .125em .25em .125em; }

/* top level tab bar for global navigation */
#top { max-width: 1000px; padding-top: 1em; }
#global-nav { margin-bottom: 4em; }
#global-nav { float: left; font-size: 80%; position: relative; width: 100%; }
#global-nav li { float: left; margin: 0; }
#global-nav a { display: block; padding: 0.25em 1em;
	border-left: 1px solid; border-right: 1px solid; border-top: 1px solid;
	text-decoration: none; }
#global-nav a.here:link,
#global-nav a.here:visited { position: relative; }

/* sub nav */
#global-nav ul {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	width:100%;
	margin:0;
	list-style:none;
	border-top:1px solid;
}

#global-nav ul li {
	float:left;
	display:block;
	margin-top:1px;
	padding:0.25em 0.25em 0.25em 1em;
}

#global-nav ul a {
	color:#fff;
	display:inline;
	margin:0;
	padding:0 1em;
	border:0
}


#pageContent { display: block; }

#table { display: block; margin-top: 4em; }
#chart_area { display: block; margin-top: 4em; width: 100%; }
.center { margin: auto; }
#chartPerformance { display: inline; margin-right: 2em; }
#chartStreaks{ display: inline; margin-left: 2em; }

table { padding-top: .25em; font-size: 80%; }
th { padding-right: 2em; padding-left: 1em; }
td { padding-right: 1em; }
td.number_cell { text-align: center; }
th a:link { text-decoration: none; }
th a:visited { text-decoration: none; }
th a:hover { text-decoration: none; }
th a:active { text-decoration: none; }
th.sorted { background-image: none; border-top: 1px solid; }

#footer { font-size: 60%; line-height: .8em; float: right; margin-top: 10em; }
@media all and (max-device-width: 600px) {
	#footer {
		display: none;
	}
}

.MainPanel { padding-top: 1em; }
.centeredDiv { margin: auto; min-width: 200px; display: block; text-align: center; }
.horizontalCell { margin-top: 1em; }
.statusLine { color: gray; font-size: 80%; }

.debugArea { padding: 3em; background-color: #f0f0f0; width: 100%; }

.notes { margin-top: 3em; font-size: 80%; }
.notes ol { list-style-type: decimal; }
.notes li { margin-left: 1.5em; }
/*
 *		Tweaks, etc
 */

